<div class="unauthorized-page">
  <h2>Unauthorized Access</h2>
  <p>You don't have permission to view this page.</p>
  <p>Please
    <LinkTo @route="login">log in</LinkTo>
    or contact an administrator if you believe this is an error.</p>
</div>